#canvas {
    border: 2rem solid black;
    height: 56rem;
}

.canvas-first {
    border: 2px solid red;
    height: 19rem;
}

.canvas-first {
    border: 2px solid orange;
    height: 19rem;
}

.canvas-first {
    border: 2px solid green;
    height: 19rem;
}