#canvas {
    border: 2rem solid black;
    display: flex;
    height: 56rem;
}

.canvas-first {
    border: 3px solid red;
    height: 19rem;
}

.canvas-first {
    border: 3px solid orange;
    height: 19rem;
}

.canvas-first {
    border: 3px solid green;
    height: 19rem;
}